.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    .icons{
        display: flex;
        column-gap: 15px;
        .icon {
            width: 25px;
            height: 25px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 15px;
            color: #fff;
            border-radius: 50%;
            outline: 2px solid #fff;
            transition-property:
                outline-offset, outline-color,
                background-color;
            transition-duration: .25s;
        }
        &:hover{
            outline-offset: 4px;
            &:hover i{
                animation: shake .25s;
                color: white;
            }
        }
        
    }
}